/* global styles*/

@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

:root {
	--header-height: 64px;
	--page-padding: 100px;
	
	--light-background-color: #eeeeee;
	--light-text-color: #000000;
	--light-text-secondary: #3f3f3f;
	--light-shadow: #cccccc;
	
	--dark-background-color: #111111;
	--dark-text-color: #ffffff;
	--dark-text-secondary: #bebebe;
	--dark-shadow: #000000;
}

body { 
	margin: 0px;
}

.dark-styled {
	background-color: var(--dark-background-color);
	color: var(--dark-text-color);
}

.light-styled {
	background-color: var(--light-background-color);
	color: var(--light-text-color);
}