/* global styles*/

@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";


html {
	overflow-y: overlay;
	overflow-x: hidden;
	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
	background: var(--background) !important;
}
::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-thumb { background: var(--brand-color); }


body { 
	margin: 0px;
}

:root {
	--title-size: 28px;
	--header-height: 76px;
	--page-padding: 100px;
	--brand-color: #EA3333;
}

@media screen and (max-width: 500px) {
	:root {
		--page-padding: 10px;
	}
}

.dark-styled {
	--background: #0e0e0e;
	--text-color: #ffffff;
	--text-secondary: #bebebe;
	--shadow: #000000;
	--highlight: var(--shadow);
	--highlight-contrast: var(--text-secondary);

	background: var(--background) !important;
	color: var(--text-color);
	
}


.light-styled{
	
	--background: #ffffff;
	--text-color: #000000;
	--text-secondary: #949494;
	--shadow: #cccccc;
	--highlight: var(--shadow);
	--highlight-contrast: var(--text-secondary);

	background: var(--background) !important;
	color: var(--text-color);
}

.bp3-transition-container {
	opacity: 1;
	display: flex;
	z-index: 40;
}

.main-menu {
	background: var(--background) !important;
	padding-top: var(--header-height);
}

.custom-card {
	/* background: lightgray !important; */
	border-radius: 20px;
	margin: 12px 0;
	padding: 48px;
	/* border: 0px !important; */
	/* box-shadow: none; */

}

.page-title {
	font-size: var(--title-size);
	font-weight: 200;
	text-align: center;
	margin-bottom: 48px;
}

.page-div {
	/* border: 1px solid gray; */
	padding: 32px;
	border-radius: 16px;
}